#PyDev files
*.project
*.pydevproject
.settings

#PyCharm files
.idea

#Compiled Python Files
*.pyc
*.zip

docs/_build

# Bash scripts
*.sh

# Others
*.swp
*.chm

# Log files
*.log

# My scripts
ui.make.bat

.branch

#sample form extension file
ui/forms/ext/sample_extensions.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
